<div class="main-navbar">
  <a [routerLink]="['/']">
    <h1>Lab10</h1>
  </a>
  <a>
    <h1
      [routerLink]="['/home']"
      [title]=""
    >Home</h1>
  </a>

  <a>
    <h1
      [routerLink]="['/companies']"
      [title]=""
    >Companies</h1>
  </a>
  <a>
    <h1
      [routerLink]="['/vacancies']"
      [title]=""
    >Vacancies</h1>
  </a>
  <a>
    <h1
      [routerLink]="['/createcompany']"
      [title]=""
    >Create Company</h1>
  </a>
  <a>
    <h1
      [routerLink]="['/createvacancy']"
      [title]=""
    >Create Vacancy</h1>
  </a>

</div>
